.carousel {
    margin: 0 5rem;
}

.listCard {
    justify-content: center;
}

.carousel-control-next, .carousel-control-prev {
    background: black;
    width: 6%;
    opacity: 0.08;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 0.2;
}