<section class="liste-sessions">
    <div>
        <a routerLink="formation-details">
            <div class="card container mt-5">
                <div class="row">
                    <div class="col-5">
                        <h6 class="card-title mt-1"> Comprendre la demarche agile</h6>
                        <p class="card-text">AGI-MET | Initiation /Fondamentaux</p>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                    </div>
                    <div class="col-4">
                        <h6 class="temps mt-3">2 jours</h6>
                    </div>
                    <div class="prix col-3">
                        <p class="mode mt-1">Présentiel, classe à distance</p>
                        <p class="prixFormation">1520 HT</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div>
        <a href="#">
            <div class="card container mt-3">
                <div class="row">
                    <div class="col-5">
                        <h6 class="card-title mt-1"> Comprendre la demarche agile</h6>
                        <p class="card-text">AGI-MET | Initiation /Fondamentaux</p>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                    </div>
                    <div class="col-4">
                        <h6 class="temps mt-3">2 jours</h6>
                    </div>
                    <div class="prix col-3">
                        <p class="mode mt-1">Présentiel, classe à distance</p>
                        <p class="prixFormation">1520 HT</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="#">
            <div class="card container mt-3">
                <div class="row">
                    <div class="col-5">
                        <h6 class="card-title mt-1"> Comprendre la demarche agile</h6>
                        <p class="card-text">AGI-MET | Initiation /Fondamentaux</p>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                    </div>
                    <div class="col-4">
                        <h6 class="temps mt-3">2 jours</h6>
                    </div>
                    <div class="prix col-3">
                        <p class="mode mt-1">Présentiel, classe à distance</p>
                        <p class="prixFormation">1520 HT</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div>
        <a href="#">
            <div class="card container mt-3">
                <div class="row">
                    <div class="col-5">
                        <h6 class="card-title mt-1"> Comprendre la demarche agile</h6>
                        <p class="card-text">AGI-MET | Initiation /Fondamentaux</p>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                    </div>
                    <div class="col-4">
                        <h6 class="temps mt-3">2 jours</h6>
                    </div>
                    <div class="prix col-3">
                        <p class="mode mt-1">Présentiel, classe à distance</p>
                        <p class="prixFormation">1520 HT</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div>
        <a href="#">
            <div class="card container mt-3">
                <div class="row">
                    <div class="col-5">
                        <h6 class="card-title mt-1"> Comprendre la demarche agile</h6>
                        <p class="card-text">AGI-MET | Initiation /Fondamentaux</p>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                    </div>
                    <div class="col-4">
                        <h6 class="temps mt-3">2 jours</h6>
                    </div>
                    <div class="prix col-3">
                        <p class="mode mt-1">Présentiel, classe à distance</p>
                        <p class="prixFormation">1520 HT</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div>
        <a href="#">
            <div class="card container mt-3">
                <div class="row">
                    <div class="col-5">
                        <h6 class="card-title mt-1"> Comprendre la demarche agile</h6>
                        <p class="card-text">AGI-MET | Initiation /Fondamentaux</p>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                    </div>
                    <div class="col-4">
                        <h6 class="temps mt-3">2 jours</h6>
                    </div>
                    <div class="prix col-3">
                        <p class="mode mt-1">Présentiel, classe à distance</p>
                        <p class="prixFormation">1520 HT</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

</section>