<section class="d-flex flex-row flex-wrap container">
  <div class="card border-primary m-2" style="width: 30rem">
    <div class="card-header d-flex justify-content-center">
      <h4>Gestion des Utilisateurs</h4>
    </div>
    <div class="card-body">
      <p class="card-text d-flex flex-column">
        <a routerLink="ajouter-utilisateur">Ajouter un utilisateur</a>
        <a routerLink="supprimer-utilisateur">Supprimer un utilisateur</a>
        <a routerLink="modifier-utilisateur">Modifier un utilisateur</a>
      </p>
    </div>
  </div>
  <div class="card border-primary m-2" style="width: 30rem">
    <div class="card-header d-flex justify-content-center">
      <h4>Gestion des Formations</h4>
    </div>
    <div class="card-body">
      <p class="card-text d-flex flex-column">
        <a routerLink="ajouter-utilisateur">Ajouter une formation</a>
        <a routerLink="supprimer-utilisateur">Supprimer une formation</a>
        <a routerLink="modifier-utilisateur">Modifier une formation</a>
      </p>
    </div>
  </div>
</section>
<div class="separation"></div>
