<section class="container-fluid mt-5 liste-sessions" id="informatique">
    <div class="row">
        <div class="col-3 titreInformatique">
            <h4 class="row justify-content-start px-3 align-items-center">Informatique</h4>
        </div>
        <div class="informatique1 col-3">
            <div>
                <a routerLink="formation-theme">Agilité</a>
            </div>
            <div>
                <a href="#">Base de données</a>
            </div>
            <div>
                <a href="#">BI Outils decisionnel</a>
            </div>
            <div>
                <a href="#">Blockchain</a>
            </div>
            <div>
                <a href="#">Cloud</a>
            </div>
            <div>
                <a href="#">CRM</a>
            </div>
            <div>
                <a href="#">Cybérsécurité</a>
            </div>
            <div>
                <a href="#">DevOps</a>
            </div>
        </div>
        <div class="informatique2 col-3">
            <div>
                <a href="">Agilité</a>
            </div>
            <div>
                <a href="">Base de données</a>
            </div>
            <div>
                <a href="">BI Outils decisionnel</a>
            </div>
            <div>
                <a href="">Blockchain</a>
            </div>
            <div>
                <a href="">cloud</a>
            </div>
            <div>
                <a href="">CRM</a>
            </div>
            <div>
                <a href="">Cybérsécurité</a>
            </div>
            <div>
                <a href="">DevOps</a>
            </div>
        </div>
        <div class="informatique3 col-3">
            <div>
                <a href="">Agilité</a>
            </div>
            <div>
                <a href="">Base de données</a>
            </div>
            <div>
                <a href="">BI Outils decisionnel</a>
            </div>
            <div>
                <a href="">Blockchain</a>
            </div>
            <div>
                <a href="">cloud</a>
            </div>
            <div>
                <a href="">CRM</a>
            </div>
            <div>
                <a href="">Cybérsécurité</a>
            </div>
            <div>
                <a href="">DevOps</a>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="container-fluid" id="informatique">
    <div class="row">
        <div class="col-3 titreInformatique">
            <h4 class="row justify-content-start px-3 align-items-center">Bureautique</h4>
        </div>
        <div class="informatique1 col-3">
            <div>
                <a href="#">Logiciel bureautique</a>
            </div>
            <div>
                <a href="#">PAO et retouche orale</a>
            </div>
            <div>
                <a href="#">Les savoirs de base</a>
            </div>
        </div>
        <div class="col-3">
            <div>
                <a href="#">Sage</a>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="container-fluid" id="informatique">
    <div class="row">
        <div class="col-3 titreInformatique">
            <h4 class="row justify-content-start px-3 align-items-center">Management <br> & soft skills</h4>
        </div>
        <div class="informatique1 col-3">
            <div>
                <a href="#">Management des équipes et des personnes</a>
            </div>
            <div>
                <a href="#">communication orale</a>
            </div>
        </div>
        <div class="informatique2 col-3">
            <div>
                <a href="">Expression écrite</a>
            </div>
            <div>
                <a href="">Efficacité personnelle</a>
            </div>
        </div>
        <div class="informatique3 col-3">
            <div>
                <a href="">Evolution professionnelle</a>
            </div>
            <div>
                <a href="">Organisation du travail</a>
            </div>
        </div>
    </div>
</section>
<hr>