.container {
    width: 70%;
    /* background: rgb(138,60,166);
background: linear-gradient(90deg, rgba(138,60,166,1) 0%, rgba(135,59,177,1) 2%, rgba(85,49,142,1) 9%, rgba(46,35,107,1) 24%); */
/* background: rgb(80,167,138);
background: linear-gradient(90deg, rgba(80,167,138,1) 0%, rgba(221,143,65,1) 100%); */
background: rgb(102,225,231);
background: linear-gradient(90deg, rgba(102,225,231,1) 0%, rgba(247,169,118,1) 100%);
}

.card {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    color: white
}
a {
    text-decoration: none;
}

