<section class="liste-sessions">
    <div>
        <a routerLink="formation-details/{{formation.id}}">
            <div class="card container mt-5">
                <div class="row">
                    <div class="col-5">
                        <h6 class="card-title mt-1"><a routerLink="formation-details/{{formation.id}}" style="text-decoration: none;" 
                            class="text-light text-uppercase font-weight-bold">{{formation.nom}}</a></h6>
                        <p class="card-text">{{formation.description}}</p>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                        <i class="fa-solid fa-star text-warning p-2"></i>
                    </div>
                    <div class="col-4">
                        <h6 class="temps mt-3">{{formation.duree}} jours</h6>
                    </div>
                    <div class="prix col-3">
                        <p class="mode mt-1">Présentiel, classe à distance</p>
                        <p class="prixFormation">2351.25 € TTC</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>