<div class="form-container">
  <form [formGroup]="user" (ngSubmit)="onSubmit()" >
    <h6>Civilité:</h6>
    <div>
      <input type="radio" name="gender" value="M" formControlName="gender" required />
      <label for="">M</label>
      <input type="radio" name="gender" value="MME" formControlName="gender" required />
      <label for="MME" class="">MME</label>
    </div>

      <label for="firstName">Prénom:</label>
    <input type="text" name="firstName" id="firstName" formControlName="firstName" required />

    <label for="lastName">Nom:</label>
    <input type="text" name="lastName" id="lastName" formControlName="lastName" required />

    <label for="phone">Téléphone:</label>
    <input type="tel" name="phone" id="phone" formControlName="phone" required />


    <label for="address">Adresse:</label>
    <input type="text" name="address" id="address" formControlName="address" required />

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" formControlName="email" required />

    <label for="password"> Mot de passe:</label>
    <input type="password" name="password" id="password" formControlName="password" required />

    <label for="confirmPassword">Confirmer mot de passe:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" required />

    <div class="error-message text-danger text-center" *ngIf ="user.errors?.['PasswordNoMatch']"> 
      Le mot de passe ne correspond pas. 
    </div> 

    <button type="submit" [disabled]="user.invalid">Submit</button>
    <p>{{ user.value | json }}</p>
  </form>
</div>