.list {
    margin: 0 auto;
    padding: 2rem;
    height: 80vh;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.best-card-list, .finance-card-list {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.unecarte {
    width: 28%;
    transition: transform 0.2s ease-in-out;
}

.unecarte:hover {
    transform: scale(1.05);
}

