<section class="list">
    <div class="list-container">

        <h1 [id]="sectionId" [class]="sectionClass">{{sectionTitle}}</h1>
        <div class="d-flex justify-content-around gap-3">
            <div class="card unecarte">
                <div class="md-image hover-overlay" mdbRipple rippleColor="light">
                    <img src="../../../../assets/images/financement.jpg" class="img-fluid rounded-top" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">

                    <h5 class="card-title">La Préparation Opérationnelle à l'Emploi (POE)</h5>
                    <p class="card-text">
                        La Préparation Opérationnelle à l'Emploi (POE) est un dispositif en France visant à former les
                        demandeurs d'emploi pour mieux correspondre aux besoins des entreprises. Grâce à des formations
                        spécifiques, les participants acquièrent les compétences recherchées, améliorant ainsi leurs
                        perspectives d'emploi.
                    </p>
                </div>
            </div>
            <div class="card unecarte">
                <div class="md-image hover-overlay" mdbRipple rippleColor="light">
                    <img src="../../../../assets/images/financement.jpg" class="img-fluid rounded-top" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Compte personnel de formation (CPF)</h5>
                    <p class="card-text">
                        Le Compte personnel de formation (CPF) est un dispositif permettant à chacun de cumuler des
                        droits à
                        la formation tout au long de sa carrière. Il offre la possibilité de suivre des formations
                        qualifiantes ou certifiantes pour améliorer ses compétences professionnelles.
                    </p>
                </div>
            </div>
            <div class="card unecarte">
                <div class="md-image hover-overlay" mdbRipple rippleColor="light">
                    <img src="../../../../assets/images/financement.jpg" class="img-fluid rounded-top" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fonds National pour l’Emploi (FNE)</h5>
                    <p class="card-text">
                        Le Fonds National pour l’Emploi (FNE) est un dispositif offrant des aides financières aux
                        entreprises pour soutenir l'emploi en France, notamment en couvrant les coûts de formation des
                        salariés ou de chômage partiel.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>