<section class="list">
  <div class="list-container">
    <h1 [id]="sectionId" [class]="sectionClass">{{ sectionTitle }}</h1>
    <div class="d-flex justify-content-around gap-3">
      <div class="card unecarte">
        <div class="md-image hover-overlay" mdbRipple rippleColor="light">
          <img
            src="../../../../assets/images/financement.jpg"
            class="img-fluid rounded-top"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            La Préparation Opérationnelle à l'Emploi (POE)
          </h5>
        </div>
      </div>
      <div class="card unecarte">
        <div class="md-image hover-overlay" mdbRipple rippleColor="light">
          <img
            src="../../../../assets/images/financement.jpg"
            class="img-fluid rounded-top"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Compte personnel de formation (CPF)</h5>
        </div>
      </div>
      <div class="card unecarte">
        <div class="md-image hover-overlay" mdbRipple rippleColor="light">
          <img
            src="../../../../assets/images/financement.jpg"
            class="img-fluid rounded-top"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Fonds National pour l’Emploi (FNE)</h5>
        </div>
      </div>
    </div>
  </div>
</section>
