<section class="formationPerso mb-5">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-12 formperso">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Demande de formation personnalisée</h2>
                            <form [formGroup]="formationPersoForm" (ngSubmit)="onSubmit()">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">Domaine de la formation</label>
                                    <input type="text" id="form3Example1cg" formControlName="domaine"class="form-control form-control-lg"
                                    placeholder="Développement d'application, Bureautique, Gestion de projet et agilité,  Management, Data, Cybersécurité..."/>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">Merci de préciser vos attente</label>
                                    <textarea class="form-control" rows="3" formControlName="message"
                                        placeholder="Votre demande"></textarea>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>