<section>
    <div class="details">
        <div class="headerFormation">
            <div class="row">
                <h1 class="text-white text-center mt-5">Formation - Agile</h1>
            </div>
        </div>
        <div class="accordeon">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Informations sur la formation
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            La reconnaissance de la compétence projet au travers d'une certification internationale est
                            un atout dans la carrière d'un chef de projet. Cette formation permet de se préparer et de
                            passer la certification PMP® du PMI® (Project Management Institute).

                            Les candidats qui veulent s'inscrire à l'examen doivent satisfaire aux exigences de
                            qualification et d'expérience définies par le PMI®. Ces exigences sont consultables en ligne
                            sur le site du : PMI®.

                            Attention : Le passage de l'examen PMP® ne peut se faire qu'une fois l'éligibilité obtenue
                            auprès du PMI®.

                            PMI, PMBOK, PMP, PgMP, PMI-SP, PMI-RMP et le logo PMI Accredited Training Provider sont des
                            marques déposées du Project Management Institute, Inc.
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="card-details">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </aside>
    <div class="row">

    </div>
</section>