<section>
    <div class="details">
        <div class="headerFormation">
            <div class="row">
                <h1 class="text-white text-center mt-5">{{formation.nom}}</h1>
            </div>
        </div>
        <div class="container row mt-3">
            <div class="col-8">
                <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="dark">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarColor02">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="http://localhost:4200/formations/sousthemes/formation-details/{{formation.id}}#objectif">Objectif de la formation
                                        <span class="visually-hidden">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://localhost:4200/formations/sousthemes/formation-details/{{formation.id}}#modalite">Modalités, methodes et moyens
                                        pédagogiques</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://localhost:4200/formations/sousthemes/formation-details/{{formation.id}}#prerequis">prérequis</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://localhost:4200/formations/sousthemes/formation-details/{{formation.id}}#programme">Programme détaillé</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <h3 class="text-center mt-5 title" id="objectif">Objectif de la formation</h3>
                <h5 class="mt-5">A l'issue de cette formation, vous serez capable de :</h5>
                <ul class="mt-3">
                    <li>Utiliser le vocabulaire et les concepts de base en gestion de projets</li>
                    <li>Planifier les étapes d'un projet</li>
                    <li>Suivre l'exécution des travaux</li>
                    <li>Evaluer les risque</li>
                    <li>Manager et communiquer dans le projet.</li>
                </ul>
                <h5 id="modalite" class="text-center mt-5 title">Modalités, méthodes et moyens pédagogiques</h5>
                <p class="mt-3">
                    Formation délivrée en présentiel ou distanciel* (blended-learning, e-learning, classe virtuelle,
                    présentiel à distance).
                    Le formateur alterne entre méthode** démonstrative, interrogative et active (via des travaux
                    pratiques et/ou des mises en situation).
                    Variables suivant les formations, les moyens pédagogiques mis en oeuvre sont :
                </p>
                <ul class="mt-3">
                    <li>Ordinateurs Mac ou PC (sauf pour certains cours de l'offre Management), connexion internet
                        fibre, tableau blanc ou paperboard, vidéoprojecteur ou écran tactile interactif (pour le
                        distanciel)</li>
                    <li>Environnements de formation installés sur les postes de travail ou en ligne</li>
                    <li>Supports de cours et exercices</li>
                </ul>
                <p class="mt-3">
                    En cas de formation intra sur site externe à ItTraining, le client s'assure et s'engage
                    également à
                    avoir toutes les ressources matérielles pédagogiques nécessaires (équipements informatiques...)
                    au
                    bon déroulement de l'action de formation visée conformément aux prérequis indiqués dans le
                    programme
                    de formation communiqué.
                </p>
                <h5 id="prerequis" class="text-center mt-5 title">Prérequis</h5>
                <p class="mt-3">Aucun</p>
                <h5 class="mt-5" id="programme">Programme</h5>
                <h4 class="mt-3">Jour 1</h4>
                <ul class="mt-3">
                    <li>Qu'est-ce qu'un projet ?</li>
                    <li>Notion de valeur et de création de valeur</li>
                    <li>Importance du management de projets</li>
                    <li>Relations</li>
                    <li>Rôle du chef de projets</li>
                    <li>Etre un gestionnaire diligent, respectueux et attentif</li>
                    <li>Se concentrer sur la valeur</li>
                </ul>
            </div>
        </div>
    </div>
</section>