.container {
    display: flex;
    justify-content: center;
    

    fa-icon {
        color: rgb(101, 100, 99);
        font-size: 24px;
        cursor: pointer;
    
        &.rated,
        &:hover
        {
            color: orange;
        }
    
        transition: color 0.3s ease-in-out;
    }
}

