.container {
    display: flex;
    justify-content: center;
    height: 10vh;
    

    fa-icon {
        color: rgb(101, 100, 99);
        font-size: 35px;
        margin-top: 15px;
        cursor: pointer;
    
        &.rated,
        &:hover
        {
            color: orange;
        }
    
        transition: color 0.3s ease-in-out;
    }
}

